<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if usuario.is_authenticated %}
    <div class="user">
        <img style="width: 60px; height: 60px; border-radius: 50%;" src="{{ usuario.avatar_set.first.imagen.url }}" alt="imagen de perfil"/>
        <div id="hormenu">
            <ul>
                <li>
                    <p class="user">{{ usuario.username|title }}</p>
                    <ul>
                        <li><a href="#">Datos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    
    {{ mensaje }}

    {% for elemento in articulos %}
    <article>
        <h3>{{ elemento.titulo }}</h3>
        <p>
            {{ elemento.contenido }}
        </p>
        <img src="{{ elemento.imagen.url }}" width="400" height="400">
        <p>
            autor: {{ elemento.autor }}
        </p>
    </article>
{% endfor %}


</body>
</html>